h3 {
    font-weight: bold;
}

#drinkNameEl, #mealNameEl {
    padding: 8px 16px;
    font-size: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
}

#mealImageEl, #drinkImageEl{
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

#drinkIngredientEl, #mealIngredientEl,#foodRecipeTextBox,#cocktailRecipeTextBox{
    padding: 8px 16px;
    font-size: 13px;
    border: 3px solid #a3c519;
    cursor: pointer;
}


/* adding hover effect to projects' images */
#mealImageEl:hover, #drinkImageEl:hover {
    color:rgb(238, 227, 78);
    box-shadow: 0 5px 15px rgb(238, 227, 78);
    transition: flex-basis 500ms linear;
}

#drinkIngredientEl:hover, #mealIngredientEl:hover,#foodRecipeTextBox:hover,#cocktailRecipeTextBox:hover{
    color:rgb(60, 160, 226);
    box-shadow: 0 5px 15px rgb(224, 96, 22);
    transition: flex-basis 500ms linear;
}
